$colorBlack:        #000;
$colorWhite:        #fff;

$minMobileWidth:    320;
$maxMobileWidth:    700;
$minTabletWidth:    701;
$maxTabletWidth:    860;
$minDesktopWidth:   1024;
$maxDesktopWidth:   2048;
